.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px 0 20px;
    margin-top: 10PX;
}

.calendar-search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    margin-bottom: 70px;
    outline-color: #007bff;
}

.calendar-container {
    width: 100%;
    max-width: 500px;
    background-color: white;
}

.react-calendar {
    border: none;
    width: 100%;
    background-color: white;
    font-family: Arial, sans-serif;
}
.react-calendar__tile {
    padding: 10px 6px;
    font-size: 14px;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 6px;
    font-family: 'Arial', sans-serif;

}
.react-calendar__tile--now {
    background: #e6f0ff;
    font-weight: bold;
}

.react-calendar__tile--active {
    background: #007bff;
    color: white;
}


.react-calendar__tile:hover {
    background: #f0f0f0;
}

.calendar-wrapper {
    display: flex;
    justify-content: center;
}
