.logo-wrapper {
    padding: 8px 20px;
    background-color: white;
    border-bottom: none;
    margin-bottom: 0;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.logo-wrapper:hover{
    opacity: 0.8;
}

.logo-image {
    width: 160px;
    height: auto;
    user-select: none;
}
